[Unit]
Description=Periodic fallback probe reporter (every 1 minute)

[Timer]
OnBootSec=1min
OnUnitActiveSec=1min
Unit=dn42-probe.service

[Install]
WantedBy=timers.target
